<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h3">OUR TEAM</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://fiverr-res.cloudinary.com/t_profile_original,q_auto,f_auto/attachments/profile/photo/b154c49b5e2acd3001a441aee49385c2-1614621443163/1ab77b38-86a9-4386-ab17-193b297657da.png" alt="card image"></p>
                                    <h4 class="card-title">Mariya</h4>
                                    <p class="card-text">Neurosurgeon</p>
                                  
                                   
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">About</h4>
                                    <p class="card-text">number 1 top neurosurgeon in the world and the most famous neurosurgeon. Dr. Mariya is a well-regarded neurosurgeon from Spain and currently heads the Medcity Neurosurgical Department.</p>
                                    <ul class="list-inline">
                                      
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <li><i class="bi bi-globe"></i></li>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <li><i class="bi bi-envelope"></i></li>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://i.imgur.com/0LKZQYM.jpg" alt="card image"></p>
                                    <h4 class="card-title">Anna</h4>
                                    <p class="card-text">Cardiologist</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">About</h4>
                                    <p class="card-text">Dr. Anna is regarded as one of the best cardiac surgeons in the world. He has performed more than 48,000 heart surgeries. Since 1991, he has been working as a personal surgeon of Pranab Mukherjee, former president of India.</p>
                                    <ul class="list-inline">
                                      
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <li><i class="bi bi-globe"></i></li>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <li><i class="bi bi-envelope"></i></li>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://i.imgur.com/tmdHXOY.jpg" alt="card image"></p>
                                    <h4 class="card-title">Paul</h4>
                                    <p class="card-text">Surgeon</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">About</h4>
                                    <p class="card-text">Paul, a thoracic surgeon, spent his professional life in Detroit and Montreal, with these periods separated by a year spent as a patient in a tuberculosis sanatorium.</p>
                                    <ul class="list-inline">
                                      
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <li><i class="bi bi-globe"></i></li>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <li><i class="bi bi-envelope"></i></li>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://i.imgur.com/HFpxxJz.jpg" alt="card image"></p>
                                    <h4 class="card-title">Allen</h4>
                                    <p class="card-text">Dentist</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">About</h4>
                                    <p class="card-text">Dr. Allen is regarded as one of the best dentist in the world. He has performed more than 4900 dental surgeries. Since 2010 </p>
                                    <ul class="list-inline">
                                      
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <li><i class="bi bi-globe"></i></li>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <li><i class="bi bi-envelope"></i></li>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://i.imgur.com/C4egmYM.jpg" alt="card image"></p>
                                    <h4 class="card-title">Smith</h4>
                                    <p class="card-text">Eye Specialist</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">About</h4>
                                    <p class="card-text">Dr. Smith is the extremely accomplished and proficient director of the Eye7 group of eye hospitals in Delhi-NCR. He has several distinctions to his credit and specializes in laser vision correction for removal of specs.</p>
                                    <ul class="list-inline">
                                      
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <li><i class="bi bi-globe"></i></li>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <li><i class="bi bi-envelope"></i></li>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://i.imgur.com/MZm1LNz.jpg" alt="card image"></p>
                                    <h4 class="card-title">Emma</h4>
                                    <p class="card-text">Urology</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">About</h4>
                                    <p class="card-text">Emma is the director of the kidney and urology transplantation department (Barcelona, Spain). He is the first to perform notes transvaginal nephrectomy surgery globally. He is also well known for his Global pioneer in robotic and laparoscopic surgery.</p>
                                    <ul class="list-inline">
                                      
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <li><i class="bi bi-globe"></i></li>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <li><i class="bi bi-envelope"></i></li>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
