<div class="footer">
    <div class="contain">
    <div class="col">
    <h1>General Information</h1>
    <ul>
        <li><i class="bi bi-phone"></i>&nbsp;&nbsp;+91 9072080012</li>
        <li><i class="bi bi-phone"></i>&nbsp;&nbsp;+91 8129247707</li>
        <li><i class="bi bi-envelope"></i>&nbsp;&nbsp;medcity@gmail</li>
        <li><i class="bi bi-globe"></i>&nbsp;&nbsp;medcity.in</li>
        <li><i class="bi bi-hospital"></i>&nbsp;&nbsp;Medcity of Medical &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <span>Science Mundur</span><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>(P.O)680541</span> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Thrissur,Kerala</span> </li>
       
    </ul>
    </div>
    <div class="col">
    <h1>Support & Service</h1>
    <ul>
        <li>Nursing Service</li>
        <li>Pharmacy</li>
        <li>Laboratory</li>
        <li>Deitary</li>
        <li>Blood Bank</li>
    </ul>
    </div>
    <div class="col">
    <h1>Information For Patients</h1>
    <ul>
        <li>Doctor Information</li>
        <li>Preparing for visit</li>
        <li>Consultation</li>
        <li>Detail Info</li>
        <li>Get in touch</li>
    </ul>
    </div>
    <div class="col">
    <h1>Charitable Care &Assistance</h1>
    <ul>
        <li>Insurance/TPA</li>
        <li>Journal Of Medicine</li>
        <li>Enquiry</li>
        <li>Feedback</li>
       
    </ul>
    </div>
    <div class="col">
        <h1>Medcity</h1>
     <span class="para">Medcity Hospital is one of the largest and leading private hospitals in the region offering sophisticated diagnostic and therapeutic care in virtually every specialty of medicine and surgery</span>
        </div>
   
    <div class="col social">
    <h1>Socials</h1>
    
    <ul>
        <li><i class="bi bi-instagram"></i></li>
        <li><i class="bi bi-whatsapp"></i></li>
        <li><i class="bi bi-facebook"></i></li>
        <li><i class="bi bi-twitter"></i></li>
    </ul>
    </div>
        <div class="clearfix"> </div>
    </div>
</div>
