.container-fluid{
    width: 100%;
    height: 100%;
   
    
}
.card{
    overflow: hidden;
    margin-top: 5em;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    background: radial-gradient(#60efbc, #58d5c9);
   
   
}


.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  

 .card-title{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: medium;
    font-weight: bold;
    font-size:larger;
    text-decoration: underline;
    
    color:#3700ff;
}
.card-text2{

    font-size:medium;
  
    color:#c70202;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:larger;
    font-weight: bold;
}
span{
    color: #1a6f44;
    text-align: left;
}

.sp{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: medium;
    font-weight: bold;
    
   
    text-decoration: underline;
    
    color:#3700ff;
}